<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AutoSeminovos</title>
    </head>
    <body>
        <h1>Página de Funcionários</h1>


        <table>
            <tr>
                <th>Id Funcionario</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ativo</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <a href="../index.html">Voltar</a:>
    </body>
</html>