<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AutoSeminovos</title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="nomeTela">Página de Funcionários</h1>


        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Ativo</th>
            </tr>
            <tr>
                <td>testetestetestetesteteste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
                <td>teste</td>
            </tr>
        </table>

        <a href="../index.html">
            <button>Voltar</button>
        </a:>
    </body>
</html>