<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>AutoSeminovos</title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="nomeTela">Página de Modelos</h1>

        <table>
            <tr>
                <th>IdModelo</th>
                <th>Descricao</th>
                <th>Ativo</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <a href="../index.html">
            <button>Voltar</button>
        </a>
    </body>
</html>